# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.venv/

# Environment variables
.env

# VSCode
.vscode/

# Mac
.DS_Store

# logs
*.log

# Docker
docker-data/
mysql_data/

.env
.env.*

docs